
@import url(https://fonts.googleapis.com/css?family=Prosto+One);

*
{
  -webkit-transition: all 0.3s ease;
}

body
{
  margin: 0px;
  padding: 0px;
  font-family: 'Prosto One', cursive;
  background: url('https://subtlepatterns.com/patterns/egg_shell.png');
  _background: #eee;
}

.simple-box
{
  display: inline-block;
  color: #777;
  border: 0px solid #afafaf;
  width: 30%;
  margin-left: 10%;
  margin-top: 60px;
  text-align: center;
  padding: 40px;
  padding-top: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 8px #777;
  background: rgba(255, 255, 255, 0.6);
}

.simple-box-text
{
  font-family: "Sofia", sans-serif;
  text-align: left;
  
}

.big-box
{
  display: block;
  color: #777;
  border: 0px solid #afafaf;
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
  padding: 40px;
  padding-top: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 8px #777;
  background: rgba(255, 255, 255, 0.6);
}

input
{
  color: #777;
  font-weight: bold;
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #afafaf;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}

input[type="submit"]
{
  color: white;
  width: 30%;
  border: 0px solid transparent;
  outline: none;
  cursor: pointer;
  background: #51AC74;
}

.simple-box table
{
  width: 100%;
}

.simple-box table td
{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

table
{
  border-spacing: 0;
}

.simple-box table th
{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

table thead th
{
  background: #e5e5e5;
  border: 1px solid #e3e3e3;
}

table td
{
  border: 1px solid #e3e3e3;
  text-align: center;
}

.big-box table 
{
  display: inline-block;
  padding: 15px;
}

.big-box table td 
{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.big-box table th 
{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}